torch>=2.3.0
torchvision>=0.18.0
torchaudio>=2.3.0
diffusers>=0.29.0
accelerate>=0.25.0
opencv-python>=4.9.0
imageio>=2.34.0
matplotlib
transformers>=4.41.0
einops>=0.8.0
datasets>=2.19.0
numpy>=1.26.0
pillow>=10.0.0
tqdm>=4.66.0
urllib3>=2.2.0
zipp>=3.19.0
peft>=0.13.0
scipy>=1.13.0
av>=14.0.0
OpenEXR>=3.2.0